[master]
{% for item in master_info['instances'] %}
	{{ item.public_ip }}
{% endfor %}
[worker]
{% for item in item.public_ip %}
	{{ item.public_ip }}
{% endfor %}

[kube-cluster:children]
master
worker
