# This is custom inventory file which will use in setting up k8s cluster 
[master]
{% for item in master_info.instances %}
{{ item.private_ip }}

[worker]
{% for item in worker_info.instances %}
{{ item.private_ip }}


[kube-cluster:children]
master
worker
